nav {
  background-color: black;
  color: white;
  height: 110px;
  padding: 10px;
  position: sticky;
  top: 0px;
  z-index: 1;
}

ul {
  padding: 0px;
  margin: 0px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;

}

li {
  list-style: none;
  margin-right: 30px;
  font-family: "masqualero-stencil", sans-serif;
  letter-spacing: 2px;
  cursor: pointer;
}

a.active {
  color: #dc676a;
}
