{% extends "base.html" %}
{% load static %}
{% block content %}

  {% include 'recipes/hero.html' %}

  <div class="recipe-index list-container">
    {% for recipe in recipes.all %}
      <div class="recipe-card list-card">
        <div>
          {% if recipe.image %}
            <image src="{{ recipe.image.url }}" class="recipe-img">
          {% else %}
            <p>no image</p>
          {% endif %}
        </div>
        <div class="recipe-details">
          <a href="{% url 'recipe' recipe.id %}">
            <h4>{{ recipe.name }}</h4>
          </a>
        </div>
      </div>
    {% endfor %}
  </div>

{% endblock content %}
