.show-container {
  display: flex;
  justify-content: space-between;
}

.show-img {
  height: calc(75vh - 110px);
  width: 45%;
  background-size: cover;
  background-position: center  left;
  margin-top: 40px;
}

.show-img h2 {
  position: absolute;
  font-size: 5.5rem;
  left: 10%;
  top: 76%;
}

.main-details {
  margin-right: 40px;
  text-align: right;
  position: relative;
  font-size: 25px;
  font-style: italic;
  text-align: center;
  width: 45%;
  padding-top: 10%;
}

.main-details p {

}
